*.pyc
.idea/
bin/
lib/
db.sqlite3
.coverage
staticfiles/
htmlcov/
*.env
env
.DS_Store
.venv
venv
*venv/
venv.bak/
README.md
!restaurant/migrations/__init__.py
!user/migrations/__init__.py
restaurant/migrations/*
user/migrations/*
*.icloud