{% extends 'base.html' %} {% load static %} {% block title %} Contact Us {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <!-- Contact Us -->
                <div class="container contact p-4">
                    <div class="text-center p-2">
                        <h3 class="font-weight-bold text-uppercase">Contact Us</h3>
                        <span class="text-muted">Still need help? Contact us!</span>
                    </div>
                    <form method="POST" id="contactForm" name="sentMessage">
                        {% csrf_token %}
                        <div class="row d-flex justify-content-center mb-5">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <p>
                                    {{ form.subject.label }} <br>
                                    {{ form.subject }}
                                    </p>
                                </div>
                                <div class="form-group">
                                    <p>
                                    {{ form.email.label }} <br>
                                    {{ form.email }}
                                    </p>
                                </div>
                                <div class="form-group form-group-textarea mb-md-0">
                                    <p>
                                    {{ form.message.label }} <br>
                                    {{ form.message }}
                                    <p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="mb-2">
                                <button class="btn btn-lg btn-primary h-100" id="sendMessageButton" type="submit">Send Message</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
