{% extends 'base.html' %} {% load static %} {% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<section class="py-5">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb pl-0  justify-content-start">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item active">Reviews</li>
    </ol>
  
        <div class="card shadow">
          <div class="card-body">
              <h6>
                  <span class="text-primary">My</span> REVIEWS
              </h6>
              <span id="internal_review"></span>
          </div>
        </div>
        <!--Zoom Picture Style-->
        <style>

            /* The Modal (background) */
            .modal1 {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 9999; /* Sit on top */
              padding-top: 100px; /* Location of the box */
              left: 0;
              top: 10px;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            }
            
            /* Modal Content (image) */
            .modal1-content {
              margin: auto;
              display: block;
              width: 80%;
              max-width: 700px;
            }
      
            
            /* Add Animation */
            .modal1-content {  
              -webkit-animation-name: zoom;
              -webkit-animation-duration: 0.6s;
              animation-name: zoom;
              animation-duration: 0.6s;
            }
            
            @-webkit-keyframes zoom {
              from {-webkit-transform:scale(0)} 
              to {-webkit-transform:scale(1)}
            }
            
            @keyframes zoom {
              from {transform:scale(0)} 
              to {transform:scale(1)}
            }
            
            /* The Close Button */
            .close1 {
              position: absolute;
              top: 25px;
              right: 35px;
              color: #f1f1f1;
              font-size: 40px;
              font-weight: bold;
              transition: 0.3s;
            }
            
            .close1:hover,
            .close1:focus {
              color: #bbb;
              text-decoration: none;
              cursor: pointer;
            }
            
            /* 100% Image Width on Smaller Screens */
            @media only screen and (max-width: 700px){
              .modal1-content {
                width: 100%;
              }
            }
            </style>
          <!-- Zoom Picture -->
          <div id="myModal" class="modal1">
            <span class="close1">&times;</span>
            <img class="modal1-content" id="img01">
          </div>
          <script>
            // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close1")[0];
          console.log(span)
          // When the user clicks on <span> (x), close the modal
          span.onclick = function() { 
            var zoomModal = document.getElementById("myModal");
            zoomModal.style.display = "none";
          }
          </script>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tell us about your experience!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="form-validate" method="POST" name="rating-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <p class="mb-2">How would you rate this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the safety of this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_safety" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the accessibility of entry to this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_entry" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the accessibility of doors at this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_door" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the accessibility of tables at this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_table" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the accessibility of bathrooms at this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_bathroom" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <p class="mb-2">How would you rate the accessibility of pathways at this restaurant?</p>
                    <div class="form-group mb-2" style="width: 200px;">
                      <select class="selectpicker form-control" name="rating_path" data-style="btn-selectpicker" title="">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                    <input type="text" id="restaurant_business_id" name="restaurant_business_id" value="" hidden>
                    <input type="text" id="user_id" name="user_id" value="{{user.id}}" hidden>
                    <input type="text" id="saved_on" name="saved_on"   hidden>
                    {% comment %} <p class="mb-2">Did you receive a temperature check?</p>
                    <div class="form-group mb-2">
                      <input id="temp_check_true" type="radio" name="temperature_required" value="true" required/>
                      <label for="temp_check_true" title="text">Yes</label>
                      <input id="temp_check_false" type="radio" name="temperature_required" value="false" required/>
                      <label for="temp_check_false" title="text">No</label>
                    </div>
                    <p class="mb-2">Were you or a member of your party required to provide contact tracing information?</p>
                    <div class="form-group mb-2">
                      <input id="contact_true" type="radio" name="contact_info_required" value="true" required/>
                      <label for="contact_true" title="text">Yes</label>
                      <input id="contact_false" type="radio" name="contact_info_required" value="false" required/>
                      <label for="contact_false" title="text">No</label>
                    </div>
                    <p class="mb-2">Were restaurant staff wearing masks at all times?</p>
                    <div class="form-group mb-2">
                      <input id="employee_mask_true" type="radio" name="employee_mask" value="true" required/>
                      <label for="employee_mask_true" title="text">Yes</label>
                      <input id="employee_mask_false" type="radio" name="employee_mask" value="false" required/>
                      <label for="employee_mask_false" title="text">No</label>
                    </div>
                    <p class="mb-2">Was in-door capacity under 25%?</p>
                    <div class="form-group mb-2">
                      <input id="capacity_true" type="radio" name="capacity_compliant" value="true" required/>
                      <label for="capacity_true" title="text">Yes</label>
                      <input id="capacity_false" type="radio" name="capacity_compliant" value="false" required/>
                      <label for="capacity_false" title="text">No</label>
                    </div>
                    <p class="mb-2">Were you seated at least 6 feet from the nearest party?</p>
                    <div class="form-group mb-2">
                      <input id="distance_compliant_true" type="radio" name="distance_compliant" value="true" required/>
                      <label for="distance_compliant_true" title="text">Yes</label>
                      <input id="distance_compliant_false" type="radio" name="distance_compliant" value="false" required/>
                      <label for="distance_compliant_false" title="text">No</label>
                    </div> {% endcomment %}
                    <p class="mb-2">Tell others about your thoughts!</p>
                    <div class="form-group mb-2">
                      <textarea class="form-control" name="content" id="content" cols="30" rows="5" required></textarea>
                    </div>
                    <label for="img"> Select image for Review Image 1: </label>
                    <div class="form-group mb-2">
                      <input type="file" class="form-control" name="image1" id="image1" accept="image/*" required></input>
                    </div>
                    <label for="img"> Select image for Review Image 2: </label>
                    <div class="form-group mb-2">
                      <input type="file" class="form-control" name="image2" id="image2" accept="image/*" required></input>
                    </div>
                    <label for="img"> Select image for Review Image 3: </label>
                    <div class="form-group mb-2">
                      <input type="file" class="form-control" name="image3" id="image3" accept="image/*" required></input>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" data-original-title="All fields required. Incomplete form will not be saved" id="rating-submit-button">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


  </div>
  </div>
</section>

<script>
  const DEFAULT_AVATAR = 'https://s3-media3.fl.yelpcdn.com/photo/O8CmQtEeOUvMTFk0iMn5sw/o.jpg';
  const isNull = el => el === 'null' || el === null || el === undefined;
    /**
     * Rating box view
     * @param {review-id} string
     * @param {profile-img} string
     * @param {profile-img-alt} string
     * @param {profile-url} string
     * @param {time-created} string
     * @param {user-name} string
     * @param {user-rating} string
     * @param {review-text} string
     * @param {editable} boolean - if this rating comment is left by the login user, this comment should be editable
     */
    class RatingReview extends HTMLElement {
  constructor () {
    super();
    this.attachShadow({ mode: 'open' });

    this.addStyles();

    this.rootDiv = document.createElement('div');
    this.rootDiv.className = 'media d-block d-sm-flex review';

    // left side
    const userProfile = document.createElement('div');
    userProfile.className = 'text-md-center mr-4 mr-xl-5';
    this.avatar = document.createElement('img');
    this.avatar.className = 'd-block img-thumbnail p-2';

    this.avatar.style = "width:120px; height:120px";
    this.avatar.src = this.getAttribute('profile-img') || DEFAULT_AVATAR;
    this.avatar.alt = this.getAttribute('profile-img-alt') || '';
    this.createRatingTimestamp = document.createElement('span');
    this.createRatingTimestamp.className = 'text-uppercase text-muted text-sm';
    this.createRatingTimestamp.innerText = this.getAttribute('time-created') || '';
    
    userProfile.appendChild(this.avatar);
    userProfile.appendChild(this.createRatingTimestamp);

    // right side
    const ratingBody = document.createElement('div');
    ratingBody.className = 'media-body';
    
    // author link
    const author = document.createElement('h6');
    author.className = 'mt-2 mb-1';

    this.authorProfileLink = document.createElement('a');
    this.authorProfileLink.href = this.getAttribute('profile-url') || DEFAULT_AVATAR;
    this.authorProfileLink.innerText = this.getAttribute('user-name') || '';

    author.appendChild(this.authorProfileLink);
    ratingBody.appendChild(author);

    // rating stars
    this.ratingStars = document.createElement('div');
    const rating = Number(this.getAttribute('user-rating') || '');
    for (let i = 0; i < 5; i++) {
      const star = document.createElement('i');
      star.className = 'fa fa-xs fa-star';
      star.classList.add(i < rating ? 'text-primary' : 'text-gray-200');
      this.ratingStars.appendChild(star);
    }
    ratingBody.appendChild(this.ratingStars);

    // comments
    this.comments = document.createElement('p');
    this.comments.setAttribute('style', 'display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;');
    this.comments.className = 'text-muted text-sm';
    this.comments.innerText = this.getAttribute('review-text');

    // 3 images
    this.image1 = document.createElement('img');
    this.image1.className= 'review-image';
    this.image1.src = this.getAttribute('image1');
    this.image1.setAttribute('style', 'display: none; object-fit: contain; height: 100px !important; align-items: center; margin-left: 5px;')

    this.image2 = document.createElement('img');
    this.image2.className= 'review-image';
    this.image2.src = this.getAttribute('image2');
    this.image2.setAttribute('style', 'display: none; object-fit: contain; height: 100px !important; align-items: center; margin-left: 5px;')

    this.image3 = document.createElement('img');
    this.image3.className= 'review-image';
    this.image3.src = this.getAttribute('image3');
    this.image3.setAttribute('style', 'display: none; object-fit: contain; height: 100px !important; align-items: center; margin-left: 5px;')

    this.image1.addEventListener('click', () => {
      var zoomModal = document.getElementById("myModal");
      zoomModal.style.display = "block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image1.src;
      
    });

    this.image2.addEventListener('click', () => {
      var zoomModal = document.getElementById("myModal");
      zoomModal.style.display = "block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image2.src;
      
    });

    this.image3.addEventListener('click', () => {
      var zoomModal = document.getElementById("myModal");
      zoomModal.style.display = "block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image3.src;
      
    });
    
    ratingBody.appendChild(this.comments);
    ratingBody.appendChild(this.image1);
    ratingBody.appendChild(this.image2);
    ratingBody.appendChild(this.image3);

    this.rootDiv.appendChild(userProfile);
    this.rootDiv.appendChild(ratingBody);

    if (this.hasAttribute('editable')) {
      this.attachOptionButton();
    }

    this.shadowRoot.appendChild(this.rootDiv);
  }

  static get observedAttributes() {
    return ['profile-img', 'profile-img-alt', 'profile-url', 'time-created', 'user-name', 'user-rating', 'review-text', 'editable', 'image1', 'image2', 'image3'];
  }

  attributeChangedCallback(name, oldValue, newValue) {
    if (name === 'profile-img') {
      this.avatar.setAttribute('src', isNull(newValue) ? DEFAULT_AVATAR : newValue);
    } else if (name === 'profile-img-alt') {
      this.avatar.setAttribute('alt', newValue || '');
    } else if (name === 'time-created') {
      this.createRatingTimestamp.innerText = newValue || '';
    } else if (name === 'profile-url') {
      this.authorProfileLink.setAttribute('href', newValue || '');
    } else if (name === 'user-name') {
      this.authorProfileLink.innerText = newValue || '';
    } else if (name === 'user-rating') {
      const rating = Number(newValue || 0);
      new Array().forEach.call(this.ratingStars.children, (el, index) => {
        if (index < rating) {
          el.classList.replace('text-gray-200', 'text-primary');
        } else {
          el.classList.replace('text-primary', 'text-gray-200');
        }
      });
    } else if (name === 'review-text') {
      this.comments.innerText = newValue || '';
    } else if (name === 'editable') {
      this.attachOptionButton();
    } else if (name === 'image1' && !newValue.endsWith('/media/')) {
      this.image1.src = newValue;
      this.image1.style.display = "inline-block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image1.src;
    } else if (name === 'image2' && !newValue.endsWith('/media/')) {
      this.image2.src = newValue;
      this.image2.style.display = "inline-block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image2.src;
    } else if (name === 'image3' && !newValue.endsWith('/media/')) {
      this.image3.src = newValue;
      this.image3.style.display = "inline-block";
      var modalImg = document.getElementById("img01");
      modalImg.src = this.image3.src;
    }
  }

  attachOptionButton () {
    if (this.optionButton) return;
    // option button
    const optionButtonWrapper = document.createElement('div');
    optionButtonWrapper.setAttribute('class', 'dropdown');

    this.optionButton = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
    this.optionButton.setAttribute('viewBox', '0 0 24 24');
    this.optionButton.setAttribute('preserveAspectRatio', 'xMidYMid meet');
    this.optionButton.setAttribute('style', 'display: inline-block; width: 1rem; height: 1rem; cursor: pointer;');
    this.optionButton.setAttribute('class', 'dropdown-toggle');
    this.optionButton.setAttribute('type', 'button');

    const optionWrapper = document.createElementNS('http://www.w3.org/2000/svg', 'g');
    const optionPath = document.createElementNS('http://www.w3.org/2000/svg', 'path');
    optionPath.setAttribute('d', 'M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z');
    optionWrapper.appendChild(optionPath);
    this.optionButton.appendChild(optionWrapper);

    // dropdown button wrapper
    const dropdownWrapper = document.createElement('div');
    dropdownWrapper.setAttribute('class', 'dropdown-menu p-0');

    this.deleteForm = document.createElement('form');
    this.deleteForm.setAttribute('action', `/restaurant/profile/${this.getAttribute('restaurant-id')}/review/${this.getAttribute('review-id')}/delete/user`);

    ['Edit', 'Delete'].forEach((el, index) => {
      const anchor = document.createElement('a');
      anchor.setAttribute('class', 'dropdown-item small py-2');
      anchor.setAttribute('href', '#');      
      anchor.innerText = el;
      if (index === 0) {
        anchor.addEventListener('click', () => {
          $('#exampleModal').modal('toggle');
          const rating = document.querySelector('select[name="rating"]');
          rating.value = this.getAttribute('user-rating');
          rating.dispatchEvent(new Event('change'));
          const content = document.querySelector('textarea[name="content"]');
          content.value = this.getAttribute('review-text');
          content.dispatchEvent(new Event('change'));
          document.forms['rating-form'].setAttribute('action', `/restaurant/profile/${this.getAttribute('restaurant-id')}/review/${this.getAttribute('review-id')}/put/user`);
        });
      } else {
        anchor.addEventListener('click', () => this.deleteForm.submit());
      }
      dropdownWrapper.appendChild(anchor);
    });

    optionButtonWrapper.appendChild(this.optionButton);
    optionButtonWrapper.appendChild(dropdownWrapper);
    optionButtonWrapper.appendChild(this.deleteForm);
    optionButtonWrapper.addEventListener('mouseover', () => {
      dropdownWrapper.classList.add('show');
    });
    dropdownWrapper.addEventListener('mouseout', () => {
      dropdownWrapper.classList.remove('show');
    });

    this.rootDiv.appendChild(optionButtonWrapper);
  }

  // add web component styles
  addStyles () {
    const styleLinks = [
      'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css',
      '/static/css/style.default.452e11c7.css',
      '/static/css/all.css',
      '/static/css/custom.0a822280.css',
    ]

    styleLinks.forEach(el => {
      const styles = document.createElement('link');
      styles.setAttribute('rel', 'stylesheet');
      styles.setAttribute('href', el);
      this.shadowRoot.appendChild(styles);
    });
  }
};
    customElements.define('rating-review', RatingReview);
    
    const userId = Number('{{ user_id | safe }}');
    const internalReviews = {{ internal_reviews | safe }};
    internalReviews.forEach(review => {
      const reviewWrapper = document.getElementById('internal_review');
      const ratingReview = document.createElement('rating-review');
      ratingReview.setAttribute('profile-img', review.restaurant__yelp_detail__img_url);
      ratingReview.setAttribute('profile-img-alt', review.restaurant__restaurant_name);
      ratingReview.setAttribute('user-name', review.restaurant__restaurant_name);
      ratingReview.setAttribute('time-created', review.time);
      ratingReview.setAttribute('user-rating', review.rating);
      ratingReview.setAttribute('review-text', review.content);
      ratingReview.setAttribute('review-id', review.id);
      const temp = "../restaurant/profile/" + review.restaurant__id;
      ratingReview.setAttribute('profile-url', temp);
      ratingReview.setAttribute('restaurant-id', review.restaurant__id);
      ratingReview.setAttribute('image1', 'https://dineline.s3.amazonaws.com/media/' + review.image1);
      ratingReview.setAttribute('image2', 'https://dineline.s3.amazonaws.com/media/' + review.image2);
      ratingReview.setAttribute('image3', 'https://dineline.s3.amazonaws.com/media/' + review.image3);

      if (userId === review.user) {
        ratingReview.setAttribute('editable', 'editable');
      }
      reviewWrapper.appendChild(ratingReview);
    });
    </script>



{% endblock %}