{% extends 'base-static.html' %} {% load static %}
{% block content %}


<div class="container-fluid px-3">
	<div class="row min-vh-100">

		<div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
			<div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
				<div class="mb-4">
					<h2>Sign up</h2>
<!--					<p class="text-muted">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>-->
				</div>

				<form class="form-validate" method="post">
                {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

					<div class="form-group">
						<label class="form-label" for="email"> Email Address</label>
						<input class="form-control" type="email" name="email" id="email"
                               type="email" placeholder="name@address.com"
							   autocomplete="off" required
							   data-msg="Please enter your email">
					</div>
					<div class="form-group">
						<label class="form-label" for="username"> Username <i class="fas fa-question-circle" data-toggle="tooltip"
							   data-html="true"
							   title='<small>Must be at least 5+ characters<br><br>Cannot start with a number</small>'></i></label>
						<input class="form-control" type="text" name="username" id="username"
                               placeholder="Username" autocomplete="off" required
                               pattern="^[a-zA-Z][a-zA-Z\d\.]{5,}$"
							   data-msg="Please enter your username">

					</div>
					<div class="form-group">
						<label class="form-label" for="password1"> Password
                            <i class="fas fa-question-circle" data-toggle="tooltip"
							   data-html="true"
							   title='<small>Must be at least 8+ characters<br>
							   <br>Password should not be too common<br>
							   <br>Must contain at least one number and one uppercase and lowercase letter<br>
							   <br>Password should be similar to username and email<br>
							   <br></small>'></i></label>
						<input class="form-control" name="password1" id="password1"
                               placeholder="Password"
							   type="password"
							   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							   required data-msg="Please enter your password">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="password2"> Confirm your
                            password</label>
						<input class="form-control" name="password2" id="password2"
                               placeholder="Password" type="password" required
                               data-msg="Please confirm your password">
					</div>
										<div class="form-group mb-4">
						<label class="form-label" for="phone"> Enter your
                            phone</label>
						<input class="form-control" name="phone" id="phone"
                               placeholder="phone" type="phone" 
                               data-msg="Please enter your phone">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="address1"> Enter your
                            address</label>
						<input class="form-control" name="address1" id="address1"
                               placeholder="address" type="address" 
                               data-msg="Please enter your address">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="address2"> Enter a second
							address
						</label>
						<input class="form-control" name="address2" id="address2"
                               placeholder="address" type="address" 
                               data-msg="Please enter your address">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="city"> Enter your
                            City</label>
						<input class="form-control" name="city" id="city"
                               placeholder="city" type="city" 
                               data-msg="Please enter your city">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="zip_code"> Enter your
                            Zip Code</label>
						<input class="form-control" name="zip_code" id="zip_code"
                               placeholder="zip_code" type="zip_code" 
                               data-msg="Please enter your zip_code">
					</div>
					<div class="form-group mb-4">
						<label class="form-label" for="state"> Enter your
                            State</label>
						<select id="state" name="state">
							<option value="Alabama">Alabama</option>
							<option value="Alaska">Alaska</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="California">California</option>
							<option value="Colorodo">Colorodo</option>
							<option value="Connecticut">Connecticut</option>
							<option value="Delaware">Delaware</option>
							<option value="District of Columbia">District of Columbia</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Misouri">Misouri</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="Rhode Island">Rhode Island</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
						</select>
						{% comment %} <input class="form-control" name="state" id="state"
                               placeholder="state" type="state" required
                               data-msg="Please enter your state"> {% endcomment %}
					</div>
					<button class="btn btn-lg btn-block btn-primary" type="submit">Sign up</button>
                </form>
                <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
                <form>
                    {% load socialaccount %}
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                    <button class="btn btn btn-outline-primary btn-block btn-social
                    mb-3" type="submit" formaction="
{% provider_login_url 'facebook' process="login" %}">
                        <i class="fa-2x fa-facebook-f fab btn-social-icon"></i>
                        Sign in with Facebook
                    </button>

                    <button class="btn btn btn-outline-muted btn-block btn-social
                mb-3" type="submit" formaction="
{% provider_login_url 'google' process="login" %}">
                    <i class="fa-2x fa-google fab btn-social-icon"></i>
                    Sign in with Google
                    </button>
                </form>
					<hr class="my-4">
					<p class="text-sm text-muted">By signing up you agree to Dine Safe.ly's Terms and Conditions and Privacy Policy.</p>
					<p class="text-sm text-muted">Already have an account? <a href="{% url 'user:login' %}">Sign In</a>.</p>
					<p class="text-sm text-muted">Don't feel like signing up yet? <a href="{% url 'index' %}">Exit</a>.</p>
			</div>
		</div>
		<div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
			<!-- Image-->
			<div class="bg-cover h-100 mr-n3" style="background-image: url(https://i1.wp.com/trendland.com/wp-content/uploads/2015/08/Vanessa_Rees_Protein_Nija-5.jpg);"></div>
		</div>
	</div>
</div>
</div>

{% endblock %}