{% extends 'base.html' %} {% load static %} {% block title %} Contact Us {% endblock %} {% block content %}
<section class="pt-4 pb-6">


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">

                    <div class="container contact p-4">
                        <div class="text-center p-2">
                            <h3 class="font-weight-bold text-uppercase">We received your request!</h3>
                            <div>
                                <div class="px-0 pr-lg-3">

                                    <h3 class="h6 text-uppercase"> Thank you so much for helping us improve our service!
                                    </h3>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}