.yelp__body {
    display: flex;
    align-items: flex-start;
}

.yelp__root {
    margin-bottom: 0.5rem;
}

.yelp__pic {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 6rem;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5rem rgb(0 0 0 / 15%);
    line-height: 3rem;
}
.yelp__date {
    margin-top: 0.5rem;
}

.yelp__name_rating_text {
    margin-left: 15px;
    width: 350px;
}

.yelp__text {
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.review__image__container > img {
    flex: 1 1 auto;
    width: auto;
    height: 80px !important;
    display: inline-block;
    object-fit: contain;
    align-items: center;
    cursor: pointer;
}

.review__image__container > img:not(:first-child) {
    margin-left: 0.3rem;
}

.dropdown__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}