{% extends 'base.html' %} {% load static %} {% block content %}
<!-- This is a test page for answer community -->
<p>User: {{ question.user.username }}</p>
<p>Question: {{ question.question }}</p>
<p>Time: {{ question.time }}</p>

{% if answer_list.count == 1 %}
<p>1 Answer</p>
{% else %}
<p>{{ answer_list.count }} Answers</p>
{% endif %}

{% for a in answer_list %}
    <div class="text-block">
        <p>User: {{ a.user.username }}</p>
        <p>Answer: {{ a.text }}</p>
        <p>Time: {{ a.time }}</p>
    </div>
{% endfor %}
{% if answer_list.count == 0 %}
<p>No answers yet. You can be the first!</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input class="form-control pr-4" type="text" name="answer" placeholder="Your answer" id="answer"></div>
    <input type="submit" value="Post Answer">
</form>
{% endblock %}